header {
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 1%;
  box-sizing: border-box;
}
.top-nav {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.top-nav__up {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.top-nav__up-right {
  width: 5%;
  display: flex;
  justify-content: space-between;
}
.top-nav__line {
  width: 100%;
  border-top: 1px solid #000000;
  opacity: 1;
}
.top-nav__links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #726E8D;
}
.top-nav__links :hover {
  color: #793edf;
  text-decoration: underline;
  cursor: pointer;
}
.top-nav__links :active {
  transform: scale(0.95);
}
.top-nav-item {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.top-nav__icons {
  color: #2A254B;
  width: 16px;
  height: 16px;
}
.top-nav__icons:hover {
  color: #793edf;
  cursor: pointer;
}
.top-nav__icons:active {
  transform: scale(0.95);
}
p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
h1 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.title {
  color: #22202E;
  font-size: 24px;
}
img {
  display: block;
}
main {
  padding: 0 4%;
}
.heroBlocks {
  width: 100%;
  height: 704px;
  padding: 3% 0;
  display: flex;
  justify-content: space-between;
  background-color: #2A254B;
  box-sizing: border-box;
  background-clip: content-box;
}
.heroBlocks__conteiner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 4%;
}
.heroBlocks__conteiner-topContent {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.heroBlocks__conteiner-topContent-text {
  font-size: 32px;
  line-height: 140%;
  color: white;
}
.heroBlocks__conteiner-topContent-btn {
  background-color: #4E4D93;
  color: white;
}
.heroBlocks__conteiner-topContent-btn:hover {
  background-color: #793edf;
}
.heroBlocks__conteiner-downText {
  color: white;
  font-size: 18px;
  line-height: 150%;
  width: 95%;
  text-align: justify;
}
button {
  width: 178px;
  height: 56px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s;
}
button:active {
  transform: scale(0.98);
}
.lisings-menu {
  height: 761px;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: #2A254B;
}
.lisings-menu__item__up {
  padding-top: 5%;
  font-weight: 400;
}
.lisings-menu__block {
  display: flex;
  justify-content: space-between;
}
.product-card h4:hover {
  color: #793edf;
  text-decoration: underline;
  cursor: pointer;
}
.product-card h4:active {
  transform: scale(0.99);
}
.product-card img {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
  border-radius: 3%;
}
h4 {
  font-size: 20px;
  font-weight: 400;
}
p {
  font-size: 18px;
}
.heroBlocksM {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
}
.heroBlocksM__conteiner-topContent-btn__active {
  background-color: #EBE8F4;
  color: #2A254B;
}
.heroBlocksM__conteiner-topContent-btn__active:hover {
  background-color: #cebfe7;
}
.lisings-menu__details {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  color: #2A254B;
  height: 744px;
}
.lisings-menu__item__down {
  margin-top: 10%;
  font-weight: 400;
}
.email-sign__up {
  background-color: #F9F9F9;
  height: 481px;
  padding: 0 4%;
  font-family: "Montserrat", sans-serif;
  color: #2A254B;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.email-sign_inside {
  background-color: #FFFFFF;
  height: 364px;
  width: 1300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.content-text {
  font-size: 20px;
}
.content-text__size {
  font-weight: 400;
}
.content-text__mini {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
}
.email {
  width: 460px;
  height: 56px;
  padding: 0 15px;
  border: 1px solid;
  box-sizing: border-box;
  background-color: #EBE8F4;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 8px 0 0 8px;
}
.e-mail-form {
  display: flex;
  justify-content: center;
  padding-top: 40px ;
}
.button-img__input {
  width: 106px;
  background-color: #4E4D93;
  height: 56px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 0 8px 8px 0;
}
.button-img__input:active {
  transform: scale(0.98);
}
.button-img__input:hover {
  opacity: 0.8;
  background-color: #793edf;
}
.features {
  width: 100%;
  height: 355px;
  padding: 5% 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.features__up {
  font-family: "Montserrat", sans-serif;
  color: #2A254B;
  font-size: 24px;
  line-height: 140%;
}
.features__featureBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.features__featureBlock__item {
  width: 22%;
  text-align: justify;
}
.features__featureBlock__item-textUp {
  color: #2A254B;
  font-size: 20px;
  line-height: 140%;
  margin-bottom: 8px;
  margin-top: 16px;
}
.features__featureBlock__item-textDown {
  color: #2A254B;
  font-size: 16px;
  line-height: 150%;
}
.features__featureBlock-icon {
  color: #2A254B;
  width: 24px;
  height: 24px;
}
.featuresDown {
  width: 100%;
  height: 603px;
  display: flex;
  justify-content: space-between;
}
.featuresDown__leftContent {
  height: 100%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}
.featuresDown__leftContent-topContent {
  width: 75%;
  text-align: justify;
}
.featuresDown__leftContent-topContent-up {
  color: #2A254B;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 25px;
}
.featuresDown__leftContent-topContent-down {
  color: #2A254B;
  font-size: 16px;
}
.featuresDown__leftContent-btn {
  background-color: #EBE8F4;
  color: #2A254B;
}
.featuresDown__leftContent-btn:hover {
  background-color: #cebfe7;
}
.featuresDown__img {
  margin: 0 -4%;
  object-fit: cover;
  display: block;
}
footer {
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2A254B;
}
.conteiner {
  width: 100%;
  height: 100%;
  padding: 4% 4%;
  box-sizing: border-box;
}
.conteiner__top {
  display: flex;
  justify-content: space-between;
}
.conteiner__top__left {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.conteiner__top__left__title {
  color: white;
  font-size: 16px;
  margin-top: 15px;
}
.conteiner__top__left__list {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 14px;
  list-style-type: none;
  padding: 0;
}
.conteiner__top__left__list-item {
  margin-top: 12px;
}
.conteiner__top__left__list-item:hover {
  text-decoration: underline;
  cursor: pointer;
}
.conteiner__top__left__list-item:active {
  transform: scale(0.95);
}
.conteiner__top-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.conteiner__line {
  width: 100%;
  color: #4E4D93;
  margin-top: 35px;
  margin-bottom: 15px;
}
.conteiner__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.conteiner__bottom-text {
  color: white;
  font-size: 14px;
}
.conteiner__bottom-socialLinks {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.conteiner__bottom .conteiner__bottom-socialLinks img {
  height: 24px;
  width: 24px;
}
.conteiner__bottom .conteiner__bottom-socialLinks img:hover {
  cursor: pointer;
}
.conteiner__bottom .conteiner__bottom-socialLinks img:active {
  transform: scale(0.95);
}
.emailForm {
  display: flex;
  margin-top: 12px;
  width: 100%;
}
.emailForm__email {
  width: 80%;
  height: 56px;
  padding: 0 15px;
  border: 1px solid #2A254B;
  border-style: dotted;
  box-sizing: border-box;
  background-color: #4E4D93;
  color: white;
  font-size: 16px;
  padding-left: 40px;
  border-radius: 8px 0 0 8px;
}
.emailForm__button {
  width: 118px;
  height: 56px;
  background-color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4E4D93;
  border: 1px solid #2A254B;
  border-radius: 0 8px 8px 0;
}
.emailForm__button:active {
  transform: scale(0.95);
}
.emailForm__button:hover {
  opacity: 0.8;
  background-color: #793edf;
  color: white;
}
